@use '~styles/mixin' as *;

#PaymentsAPP { 

  border: solid 1px var(--color-borders);
  padding:  var(--s3) var(--s3) var(--s3);
  border-radius: var(--s);
  margin-top: var(--s);
  position: relative;
  overflow: hidden;

  .Payments { 

    .List {

      .Header {

        display: flex;
        justify-content: space-between;
        justify-content: flex-end;
        gap: var(--s2);
        padding: var(--s05) 0;
        justify-content: flex-end;
      }

      .Pays {

        .Loading {

          font-weight: bold;
          padding: var(--s) 0 0 0;
        }

        .Pay {

          border: solid var(--color-borders);
          border-width: 1px 0 0 0;
          margin: 0 0 var(--s3) 0;
              
          .Email {

            min-width: 160px;
            padding: var(--s) 0;
            font-weight: bold;
          }

          .Posts {

            border: dotted var(--color-borders);
            border-width: 1px 0 0 0;

            .Access {

              max-width: 96%;
              margin: 0 0 0 auto;
              border: dotted var(--color-borders);
              border-width: 0 0 1px 0;
              padding: var(--s05) 0;
            }
          }
        }
      }
    }
  }
}