.PHCAccess {

  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .AccessTools {

    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--s05);

    .PostId {

      border: solid #ccc;
      border-radius: 3px;
      border-width: 1px;
      padding: 0 var(--s);
      height: 30px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      background-color: var(--color-4); 
    }

    .Access { 

      flex: 1;
      display: flex;
      align-items: center;
      padding: 0 var(--s05);

      .IsOpen {

        margin: 1px var(--s05) 0 0;
      }

      label {

        text-transform: uppercase;
        cursor: pointer;
        
        opacity: 0.3;

        &.Open {

          opacity: 1;
          font-weight: bold;
        }
      }  
    }    
  }
}