@use './styles';

.wp-block-poeticsoft-heart-campus-columntools {

  padding: var(--s);
  border: solid 1px var(--color-borders);
  width: fit-content;
  display: flex;
  align-items: center;
}