@use 'styles/mixin' as *;

#the-list tr td.PHCAccess,
.wrap.nestedpages .nestedpages ol li .row .PHCAccess {

  width: 120px;
}

.wrap.nestedpages .nestedpages ol li .row .PHCAccess {

  display: table-cell;
  padding: 0 var(--s) 0 0;
}

#phc_page_assign_status .inside .statuswrapper .PHCAccess .AccessForm {

  width: 100%;
}