/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/ui/frontend/postcontent/main.scss ***!
  \********************************************************************************************************************************/
:root {
  /* SIZES */
  --space: 8px;
  --s025: calc(var(--space) * 0.25);
  --s05: calc(var(--space) * 0.5);
  --s075: calc(var(--space) * 0.75);
  --s: var(--space);
  --s15: calc(var(--space) * 1.5);
  --s2: calc(var(--space) * 2);
  --s3: calc(var(--space) * 3);
  --s4: calc(var(--space) * 4);
  --s45: calc(var(--space) * 4.5);
  --s5: calc(var(--space) * 5);
  --s6: calc(var(--space) * 6);
  --s7: calc(var(--space) * 7);
  --s8: calc(var(--space) * 8);
  --s9: calc(var(--space) * 9);
  --s10: calc(var(--space) * 10);
  --s12: calc(var(--space) * 12);
  --s14: calc(var(--space) * 14);
  --s16: calc(var(--space) * 16);
  --s18: calc(var(--space) * 18);
  --s20: calc(var(--space) * 20);
  --color-light: #ffffff;
  --color-dark-transparent-a: #ffffff88;
  --color-0: #ea6d4e;
  --color-1: #ca2721;
  --color-2: #55413d;
  --color-3: #334155;
  --color-4: hsl(90, 11%, 86%);
  --color-5: #FFFFFF;
  --color-6: #054948;
  --color-7: #111111;
  --color-8: rgba(255, 255, 255, 0.78);
  --color-info: #35ca21;
  --color-warn: var(--color-0);
  --color-error: var(--color-1);
  --color-borders: #a1a1a1;
}
:root :root {
  --fc-button-text-color: var(--color-5);
  --fc-button-bg-color: var(--color-0);
  --fc-button-border-color: var(--color-0);
  --fc-button-hover-bg-color: var(--color-1);
  --fc-button-hover-border-color: var(--color-1);
  --fc-button-active-bg-color: var(--color-1);
  --fc-button-active-border-color: var(--color-1);
  --fc-event-bg-color: var(--color-1);
  --fc-event-border-color: var(--color-1);
  --fc-event-text-color: var(--color-5);
  --fc-event-selected-overlay-color: var(--color-0);
}

.wp-block-poeticsoft_content_payment_postcontent {
  text-align: center;
  border: solid 1px #ccc;
  padding: var(--s3);
}

.poeticsoft_content_payment_login_overlay {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3568627451);
}
.poeticsoft_content_payment_login_overlay .poeticsoft_content_payment_login {
  border: solid 1px #ccc;
  padding: var(--s6) var(--s6) var(--s3);
  background-color: var(--color-light);
  position: relative;
  max-width: 300px;
}
.poeticsoft_content_payment_login_overlay .poeticsoft_content_payment_login .Close {
  position: absolute;
  top: var(--s);
  right: var(--s);
  padding: var(--s);
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  padding: var(--s);
  border: solid 1px var(--color-borders);
  width: fit-content;
  margin: 0 0 0 auto;
  cursor: pointer;
}
.poeticsoft_content_payment_login_overlay .poeticsoft_content_payment_login .Close::before {
  content: "\f158";
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color 0.1s ease-in;
}

.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .FormName,
.poeticsoft_content_payment_login .Forms .Form .FormName {
  margin-bottom: var(--s);
  font-size: 0.9em;
  font-weight: bold;
  display: none;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Explain,
.poeticsoft_content_payment_login .Forms .Form .Explain {
  margin-bottom: var(--s3);
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Fields .Field,
.poeticsoft_content_payment_login .Forms .Form .Fields .Field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--s);
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Fields .Field input,
.poeticsoft_content_payment_login .Forms .Form .Fields .Field input {
  padding: calc(var(--s15) + 0.25px) var(--s3);
  font-family: var(--wp--preset--font-family--barlow);
  text-align: center;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Fields .Field input.Code,
.poeticsoft_content_payment_login .Forms .Form .Fields .Field input.Code {
  width: 96px;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Fields .Field.RadioButtons,
.poeticsoft_content_payment_login .Forms .Form .Fields .Field.RadioButtons {
  justify-content: flex-start;
  width: 200px;
  margin: 0 auto var(--s3);
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Fields .Field.RadioButtons input[type=radio],
.poeticsoft_content_payment_login .Forms .Form .Fields .Field.RadioButtons input[type=radio] {
  cursor: pointer;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Fields .Field.RadioButtons label,
.poeticsoft_content_payment_login .Forms .Form .Fields .Field.RadioButtons label {
  cursor: pointer;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Tools,
.poeticsoft_content_payment_login .Forms .Form .Tools {
  display: inline-block;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Tools button,
.poeticsoft_content_payment_login .Forms .Form .Tools button {
  display: inline-block;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Tools button:disabled,
.poeticsoft_content_payment_login .Forms .Form .Tools button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form a.Extra,
.poeticsoft_content_payment_login .Forms .Form a.Extra {
  display: block;
  margin-top: var(--s2);
  text-align: center;
  font-weight: 400;
  font-size: 0.8em;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form a.Extra.Disabled,
.poeticsoft_content_payment_login .Forms .Form a.Extra.Disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Message,
.poeticsoft_content_payment_login .Forms .Form .Message {
  text-align: center;
  font-weight: 600;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Message:empty,
.poeticsoft_content_payment_login .Forms .Form .Message:empty {
  display: none;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Message.Error,
.poeticsoft_content_payment_login .Forms .Form .Message.Error {
  padding: var(--s3) var(--s3) 0;
  color: #c00;
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Message.Warn,
.poeticsoft_content_payment_login .Forms .Form .Message.Warn {
  padding: var(--s3) var(--s3) 0;
  color: rgb(255, 178, 12);
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form .Message.Info,
.poeticsoft_content_payment_login .Forms .Form .Message.Info {
  padding: var(--s3) var(--s3) 0;
  color: rgb(24, 204, 0);
}
.wp-block-poeticsoft_content_payment_postcontent .Forms .Form.End:not(.Stripe) .Explain,
.poeticsoft_content_payment_login .Forms .Form.End:not(.Stripe) .Explain {
  margin-bottom: 0;
}

.ViewAsAdmin {
  padding: 8px;
  background-color: #ccc;
  text-align: center;
  margin: 0 0 16px 0;
}

/*# sourceMappingURL=main.css.map*/