@use './styles';

.wp-block-poeticsoft-heart-campus-treenav {
    border: solid 1px #ccc;
    padding: var(--s);

    .Nav {
        .Page {
            .Title {
                display: flex;
                justify-content: flex-start;

                .OpenClose {
                    display: inline-block;
                    vertical-align: middle;
                    width: var(--s3);
                    height: var(--s3);
                    position: relative;
                    cursor: pointer;

                    &::after,
                    &::before {
                        content: '';
                        display: block;
                        width: var(--s15);
                        height: 1px;
                        background-color: #919191;
                        position: absolute;
                        left: 6px;
                    }

                    &::after {
                        transform: rotate(45deg);
                        top: var(--s);
                    }

                    &::before {
                        transform: rotate(-45deg);
                        top: var(--s2);
                    }
                }

                .Indent {
                    display: inline-block;
                    vertical-align: middle;
                    width: var(--s3);
                    height: var(--s3);
                    margin-right: var(--s05);
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        width: var(--s);
                        height: var(--s);
                        border: solid 1px #919191;
                        position: absolute;
                        top: 9px;
                        left: 12px;
                        border-radius: 50%;
                    }
                }

                a.TitleLink {
                    flex: 1;
                    display: inline-block;
                    vertical-align: middle;

                    .Text {
                    }

                    .Icon {
                        display: inline-block;

                        &::after {
                            content: '🗝️​';
                        }

                        &.Paid {
                            &::after {
                                content: '✅​';
                            }
                        }

                        &.Free {
                            &::after {
                                content: '✔️​';
                            }
                        }
                    }
                }

                &.Current {
                    a.TitleLink {
                        .Text {
                            font-weight: bold;
                        }
                    }
                }
            }

            .Pages {
                margin-left: var(--s15);

                display: none;
            }

            &.Visible {
                > .Title {
                    > .OpenClose {
                        &::after,
                        &::before {
                            top: 14px;
                        }

                        &::after {
                            left: 2px;
                        }

                        &::before {
                            left: 10px;
                        }
                    }
                }

                > .Pages {
                    display: inherit;
                }
            }
        }
    }

    .Legend {
        border: solid 1px #ccc;
        padding: var(--s);
        margin-top: var(--s2);

        .Type {
            padding: var(--s025) 0;
            margin: 0 var(--s);

            .Icon {
                display: inline-block;
            }

            .Text {
            }

            &.ShouldPay {
                .Icon {
                    &::after {
                        content: '🗝️​';
                    }
                }
            }

            &.Free {
                .Icon {
                    &::after {
                        content: '✔️​';
                    }
                }
            }

            &.Paid {
                .Icon {
                    &::after {
                        content: '✅​';
                    }
                }
            }
        }
    }
}
