@use './styles';

.containerchildren {
    &.SeccionTitle {
        margin-bottom: var(--s2);

        .EditTitle {
            font-size: 11px;
            font-weight: 500;
            line-height: 1.4;
            text-transform: uppercase;
        }

        .EditText {
            font-size: 14px;
            margin: var(--s) 0 var(--s2);
            padding: var(--s);
            border: solid 1px var(--color-borders);
        }
    }
}

.wp-block-poeticsoft-heart-campus-containerchildren {
    padding: 0 var(--s2) var(--s2);
    border: solid 1px var(--color-borders);

    .Title {
        text-align: center;
    }

    .Content {
        text-align: center;
    }
}
