@use './styles';

.wp-block-poeticsoft-heart-campus-containerchildren {
    > .Title {
        margin: 0 0 var(--s2);
        text-align: center;
        font-weight: bold;
    }

    .Areas {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: var(--s3);

        .Area {
            width: 100%;
            border-color: #e2e8f0;
            border-width: 1px;
            border-radius: 12px;
            background-color: #fff;
            padding: 32px;
            box-shadow: 0 0 0 rgb(0, 0, 0, 8%);
            box-sizing: border-box;

            transition-property: transform, box-shadow;
            transition-duration: 0.5s;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 15px 30px rgb(0, 0, 0, 8%);
                border-color: #e2e8f0;
            }

            .Title {
                margin-top: 0;
                cursor: pointer;
            }

            .Image {
                cursor: pointer;

                img {
                    width: 100%;
                    display: block;
                    border-radius: 8px;
                }
            }

            .Excerpt {
                margin-top: var(--s2);
            }
        }
    }
}
