@use 'styles/root';

.wp-block-poeticsoft-heart-campus-mytools {
    border: solid #ccc;
    border-width: 0 0 1px;
    padding: var(--s05) 0;
    text-align: right;
    font-size: 0.8em;

    .PostID,
    .Identify {
        margin: 0 var(--s) 0 0;
    }

    a {
        text-decoration: none;
    }

    .wp-block-buttons {
        display: inline-block;
    }

    button {
        a {
            color: #fff;
        }
    }
}
